@if (ViewData["Error"] != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewData["Error"]
    </div>
}
@if (ViewData["Success"] != null)
{
    <div class="alert alert-success" role="alert">
        @ViewData["Success"]
    </div>
}