@model ContabilizaJa.Movimentacao.Application.ExtratoBancarioViewModels;

<table class="table">
    <thead>
        <tr>
            <th scope="col">Data</th>
            <th scope="col">Tipo da Transação</th>
            <th scope="col">Valor</th>
            <th scope="col">Descrição</th>
        </tr>
    </thead>
    @if (Model.Transacoes.Count > 0)
    {
        <tbody>
            @foreach (var transaction in Model.Transacoes)
            {
                <tr>
                    <th scope="row">@transaction.Data</th>
                        <td>@transaction.Tipo</td>
                        <td>@transaction.Valor</td>
                        <td>@transaction.Descricao</td>
                </tr>
            }
        </tbody>
    }
    else
    {
        <tbody>
            <tr>
                <td>Nenhum registro foi encontrado.</td>
            </tr>
        </tbody>
    }
</table>